{
    "drivers": [
    {
        "fs-sonic": {
            "type": "fs",
            "option": {
                "root": "<pathname for storing blobs>",
                "node_exepath": "<path to node executable>",
                "compactor" : <true to enable enumeration compactor, don't enable multiple compactor instances!>,
                "gc_exepath": "<path to gc js file, e.g. /<vblob>/blob_fs/fs_gc.js >",
                "gc_interval": "<ms per gc execution, e.g. 600000 (10 mins) >",
                "gcfc_exepath": "<path to lightweight gc js file, e.g. /<vblob>/blob_fs/fs_gcfc.js >",
                "gcfc_interval": "<ms per lightweiht gc execution, e.g. 1500 (1.5 secs) >",
                "gctmp_exepath": "<path to tmp folder gc js file, e.g. /<vblob>/blob_fs/fs_gctmp.js >",
                "gctmp_interval": "<ms per tmp folder gc execution, e.g. 1 hr >",
                "ec_exepath": "<path to ec js file, e.g. /<vblob>/blob_fs/fs_ec.js >",
                "ec_interval": "<ms per ec execution, e.g. 1500 (1.5 secs) >",
                "quota" : <maximum number of bytes allowed to store, default is unlimited>,
                "obj_limit" : <maximum number of objects allowed to store, default is unlimited>
            }
        }
    },
    {
        "s3-sonic": {
            "type": "s3",
            "option": {
                "key": "<s3 key>",
                "secret": "<s3 secret>"
            }
        }
    }
    ],
    "port": "3000",
    "current_driver": "fs-sonic",
    "logtype": "<logger type, such as winston>",
    "logfile": "<pathname for the log>",
    "keyID": "<any id for auth>",
    "secretID": "<any secret for auth>",
    "auth": "<basic, digest;  other values mean disabled>",
    "debug": true,
    "account_file" : "./account.json",
    "account_api" : true
}
