{
    "drivers": [
    {
        "fs-sonic": {
            "type": "fs",
            "option": {
                "root": "<pathname for storing blobs>",
                "node_exepath": "<path to node executable>",
                "gc_exepath": "<path to gc js file, e.g. /<vblob>/blob_fs/fs_gc.js >",
                "gc_interval": "<ms per gc execution, e.g. 600000 (10 mins) >",
                "gcfc_exepath": "<path to lightweight gc js file, e.g. /<vblob>/blob_fs/fs_gcfc.js >",
                "gcfc_interval": "<ms per lightweiht gc execution, e.g. 3000 (3 secs) >",
                "gctmp_exepath": "<path to tmp folder gc js file, e.g. /<vblob>/blob_fs/fs_gctmp.js >",
                "gctmp_interval": "<ms per tmp folder gc execution, e.g. 1 hr >"
            }
        }
    },
    {
        "s3-sonic": {
            "type": "s3",
            "option": {
                "key": "<s3 key>",
                "secret": "<s3 secret>"
            }
        }
    }
    ],
    "port": "3000",
    "current_driver": "s3-sonic",
    "logtype": "<logger type, such as winston>",
    "logfile": "<pathname for the log>",
    "keyID": "<any id for auth>",
    "secretID": "<any secret for auth>",
    "auth": "enabled",
    "debug": true
}

